# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Bony Roopchandani
	email = bonyroopchandani@gmail.com
[merge]
	tool = meld
[mergetool "diffmerge"]
	cmd = diffmerge --merge --result=$MERGED $LOCAL $BASE $REMOTE
	trustExitCode = true
[mergetool]
	keepBackup = false
	prompt = false
[diff]
	tool = meld
[difftool "diffmerge"]
	cmd = diffmerge $LOCAL $REMOTE
[difftool]
	prompt = false
[core]
	excludesfile = ~/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
